<section class=" mx-auto sm:p-20 h-auto">
  <div class="w-full border p-5 rounded-lg shadow-md sm:p-10 dark:bg-gray-200 
  dark:border-gray-300 text-gray-900">
    <i class="flex items-center justify-center">
      <svg class="w-20 h-20 fill-current" aria-hidden="true" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M2 12a10 10 0 1 1 20 0 10 10 0 0 1-20 0Zm11-4a1 1 0 1 0-2 0v4c0 .3.1.5.3.7l3 3a1 1 0 0 0 1.4-1.4L13 11.6V8Z" />
      </svg>
    </i>
    <h2 class="mb-2 text-center sm:text-5xl text-2xl font-bold ">
      Coming soon
    </h2>
    <p class="mb-5 sm:text-xl text-base text-center">
      You will soon find a view where there will be news of {{text}}.
    </p>
  </div>
</section>